SRIU.WebForm/Connected Services/ServiceReference1/ReporteIncidenciaWCF.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ReporteIncidenciaWCF" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://localhost:44378/Servicios/ReporteIncidenciaWCF.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://localhost:44378/Servicios/ReporteIncidenciaWCF.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://localhost:44378/Servicios/ReporteIncidenciaWCF.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SRIU.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IReporteIncidenciaWCF_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IReporteIncidenciaWCF_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IReporteIncidenciaWCF_ObtenerReportes_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerReportes" />
  </wsdl:message>
  <wsdl:message name="IReporteIncidenciaWCF_ObtenerReportes_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerReportesResponse" />
  </wsdl:message>
  <wsdl:message name="IReporteIncidenciaWCF_CrearReporte_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearReporte" />
  </wsdl:message>
  <wsdl:message name="IReporteIncidenciaWCF_CrearReporte_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearReporteResponse" />
  </wsdl:message>
  <wsdl:message name="IReporteIncidenciaWCF_ActualizarEstatus_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarEstatus" />
  </wsdl:message>
  <wsdl:message name="IReporteIncidenciaWCF_ActualizarEstatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarEstatusResponse" />
  </wsdl:message>
  <wsdl:message name="IReporteIncidenciaWCF_EliminarReporte_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarReporte" />
  </wsdl:message>
  <wsdl:message name="IReporteIncidenciaWCF_EliminarReporte_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarReporteResponse" />
  </wsdl:message>
  <wsdl:message name="IReporteIncidenciaWCF_ObtenerPorId_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPorId" />
  </wsdl:message>
  <wsdl:message name="IReporteIncidenciaWCF_ObtenerPorId_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPorIdResponse" />
  </wsdl:message>
  <wsdl:message name="IReporteIncidenciaWCF_ActualizarReporte_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarReporte" />
  </wsdl:message>
  <wsdl:message name="IReporteIncidenciaWCF_ActualizarReporte_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarReporteResponse" />
  </wsdl:message>
  <wsdl:portType name="IReporteIncidenciaWCF">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IReporteIncidenciaWCF/DoWork" message="tns:IReporteIncidenciaWCF_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReporteIncidenciaWCF/DoWorkResponse" message="tns:IReporteIncidenciaWCF_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerReportes">
      <wsdl:input wsaw:Action="http://tempuri.org/IReporteIncidenciaWCF/ObtenerReportes" message="tns:IReporteIncidenciaWCF_ObtenerReportes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReporteIncidenciaWCF/ObtenerReportesResponse" message="tns:IReporteIncidenciaWCF_ObtenerReportes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CrearReporte">
      <wsdl:input wsaw:Action="http://tempuri.org/IReporteIncidenciaWCF/CrearReporte" message="tns:IReporteIncidenciaWCF_CrearReporte_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReporteIncidenciaWCF/CrearReporteResponse" message="tns:IReporteIncidenciaWCF_CrearReporte_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarEstatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IReporteIncidenciaWCF/ActualizarEstatus" message="tns:IReporteIncidenciaWCF_ActualizarEstatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReporteIncidenciaWCF/ActualizarEstatusResponse" message="tns:IReporteIncidenciaWCF_ActualizarEstatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarReporte">
      <wsdl:input wsaw:Action="http://tempuri.org/IReporteIncidenciaWCF/EliminarReporte" message="tns:IReporteIncidenciaWCF_EliminarReporte_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReporteIncidenciaWCF/EliminarReporteResponse" message="tns:IReporteIncidenciaWCF_EliminarReporte_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerPorId">
      <wsdl:input wsaw:Action="http://tempuri.org/IReporteIncidenciaWCF/ObtenerPorId" message="tns:IReporteIncidenciaWCF_ObtenerPorId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReporteIncidenciaWCF/ObtenerPorIdResponse" message="tns:IReporteIncidenciaWCF_ObtenerPorId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarReporte">
      <wsdl:input wsaw:Action="http://tempuri.org/IReporteIncidenciaWCF/ActualizarReporte" message="tns:IReporteIncidenciaWCF_ActualizarReporte_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReporteIncidenciaWCF/ActualizarReporteResponse" message="tns:IReporteIncidenciaWCF_ActualizarReporte_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IReporteIncidenciaWCF" type="tns:IReporteIncidenciaWCF">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IReporteIncidenciaWCF/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerReportes">
      <soap:operation soapAction="http://tempuri.org/IReporteIncidenciaWCF/ObtenerReportes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrearReporte">
      <soap:operation soapAction="http://tempuri.org/IReporteIncidenciaWCF/CrearReporte" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarEstatus">
      <soap:operation soapAction="http://tempuri.org/IReporteIncidenciaWCF/ActualizarEstatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarReporte">
      <soap:operation soapAction="http://tempuri.org/IReporteIncidenciaWCF/EliminarReporte" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerPorId">
      <soap:operation soapAction="http://tempuri.org/IReporteIncidenciaWCF/ObtenerPorId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarReporte">
      <soap:operation soapAction="http://tempuri.org/IReporteIncidenciaWCF/ActualizarReporte" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReporteIncidenciaWCF">
    <wsdl:port name="BasicHttpBinding_IReporteIncidenciaWCF" binding="tns:BasicHttpBinding_IReporteIncidenciaWCF">
      <soap:address location="http://localhost:61641/Servicios/ReporteIncidenciaWCF.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>