SRIU.WebForm/Connected Services/ServiceReference1/ReporteIncidenciaWCF2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://localhost:44378/Servicios/ReporteIncidenciaWCF.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SRIU.Models" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerReportes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerReportesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SRIU.Models" minOccurs="0" name="ObtenerReportesResult" nillable="true" type="q1:ArrayOfReporteIncidencia" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearReporte">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SRIU.Models" minOccurs="0" name="reporte" nillable="true" type="q2:ReporteIncidencia" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearReporteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CrearReporteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarEstatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idReporte" type="xs:int" />
        <xs:element minOccurs="0" name="atendido" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarEstatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarEstatusResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarReporte">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idReporte" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarReporteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarReporteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPorId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idReporte" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPorIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SRIU.Models" minOccurs="0" name="ObtenerPorIdResult" nillable="true" type="q3:ReporteIncidencia" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarReporte">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SRIU.Models" minOccurs="0" name="reporte" nillable="true" type="q4:ReporteIncidencia" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarReporteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarReporteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>