SRIU.WebForm/Connected Services/ServiceReference1/ReporteIncidenciaWCF1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SRIU.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SRIU.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfReporteIncidencia">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReporteIncidencia" nillable="true" type="tns:ReporteIncidencia" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReporteIncidencia" nillable="true" type="tns:ArrayOfReporteIncidencia" />
  <xs:complexType name="ReporteIncidencia">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoZona" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstatusAtendido" type="xs:boolean" />
      <xs:element minOccurs="0" name="FechaReporte" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdReporte" type="xs:int" />
      <xs:element minOccurs="0" name="Latitud" type="xs:float" />
      <xs:element minOccurs="0" name="Longitud" type="xs:float" />
      <xs:element minOccurs="0" name="PresupuestoEstimado" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReporteIncidencia" nillable="true" type="tns:ReporteIncidencia" />
</xs:schema>